<html>
  <head>
    {% if title %}
    <title>{{title}} - Discover, Learn, Share</title>
    {% else %}
    <title>Study and teach</title>
    {% endif %}
  </head>
  <body>
    <div>Study and Teach: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>